

@font-face {
  font-family: "ocr-aregular";
  src: url("font/ocr-aregular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.login-page {
width: 100%;
    height: 100dvh;
    /* margin-top: 8%; */
    display: flex
;
    position: relative;
    /* padding: 8% 0 0; */
    /* margin-right: auto; */
    /* margin-left: auto; */
    align-items: center;
    justify-content: center;

}
.form {
  position: relative;
  z-index: 1;
  background: #000000;
  max-width: 360px;
  margin: 0 auto ;
  text-align: center;
  font-family: "ocr-aregular";
}
.form input {
  font-family: "ocr-aregular";
  outline: 0;
  background: #000000;
  color: white;
  width: 100%;
  border: 1px dashed white;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  
}
.form button {
  font-family: "ocr-aregular";
  text-transform: uppercase;
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 1px solid white;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover ,.form button:active,.form button:focus {
  background: #000000;
  color: #ffffff;
  border: 1px solid white;
}

.form button:hover a.buttonlogin {
 
  color: #ffffff;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #ffffff;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}


a.buttonlogin{
  color: rgb(0, 0, 0);
  text-decoration: none;
}




.shuffle-button{
  margin-top: 21vh;
    right: 5vw;
    float: right;

    padding: 1%;
    line-height: 80%;
    text-align: center;
    justify-content: center;
    z-index: 88;
    font-size: 1vw; 
    width: auto;
    text-decoration: none;
    position: fixed;
  
    color: white;
    background: rgb(0, 0, 0);
  
    font-family: "ocr-aregular";
    transition: box-shadow .25s;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;

}

.shuffle-button:hover{

  color: #ffffff;
 box-shadow: 0px 6px;
 border-bottom: 5px solid rgb(255, 255, 255);
 cursor: pointer;
 animation: changeBg 0.5s infinite;
 background: url(R1.jpeg);
}



.freguesias{
 list-style: none;
}

.freguesias button{
  list-style: none;
 /*padding: 1%;*/
}
.titletag{
  margin-bottom: 0%;
  color: rgba(255, 255, 255, 0.432);
  background: rgba(0, 0, 0, 0);
  text-align: left;
  font-family: "ocr-aregular";
  white-space:nowrap;
  font-size: 0.8vw;
  height: 3.1vh;
 margin-left: 2vw; 
    /*   padding: 2% 2% 2% 2%; */
  border: 1px solid rgba(255, 255, 255, 0.432);
  transition: 0.2s ease-out;
  width: 108.4%;
}

button.freguesiatag {

    margin-bottom: 0%;
    white-space: inherit;
    color: rgba(255, 255, 255, 0.432);
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0);
    text-align: left;
    font-family: "ocr-aregular";
    white-space:nowrap;
    font-size: 14px;
    height: auto;
    border-radius: 30px;
      /*  margin-left: 2.5vw; */
     padding: 2px 5px; 
    border: 1px solid rgba(255, 255, 255, 0.432);
    transition: 0.2s ease-out;
    width: auto;
    z-index: 9;
    box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  
}

button.freguesiatag:hover{
   color: white;
    
    font-style: italic;
    transition: 0.2s ease-in;
    border-left: 2px solid rgb(255, 255, 255);
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);;
    z-index: 9;

    box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

button.freguesiatag.active{
  color: white;
  border-left: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);;
  z-index: 9;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


.filterDiv {
    float: left;
    background-color: #000000;
    color: #ffffff;
    line-height: 10px;
        margin: 5px 10px;
    display: none;
width: 280px;
    border: 1px dashed rgb(255, 255, 255);
    border-radius: 10px;
    transition: box-shadow .25s;
    font-weight: 300;
    font-size: 0.8vw;
    padding: 10px;
 
    text-align: left;
   
  }

  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  



  .filterDiv:hover {
    cursor: move;
    box-shadow: 0px 5px;
    border: 1px solid rgb(255, 255, 255);
    animation: changeBg 0.5s infinite !important;
    background: url(R1.jpeg);
    border-radius: 15px;
  }
  
  .filterDiv:hover .imagensprojeto img {
   
    border-radius: 0px;
  }

  .filterDiv:hover .imagensprojeto2 img {
   
    border-radius: 0px;
  }
  .show {
    display: block;
 
  
    
  }
  



.containerpreloader {
  position: fixed;

	background: #000000;
	color: #fff;
	width: 100%;
	min-height: 100vh;
	display: flex;
  z-index: 5;
  align-items: center;
    justify-content: center;

}

.preloader {
	margin: auto;
	width: 10%;
	
	background: rgba(0, 0, 0, 0.1);
	
	position: relative;
}

.preloader:before {
	content: "";
	position: absolute;
	background: rgb(255, 255, 255);
	width: 0;
	height: 2px;
	
	animation: preloader 4s;
}


.cerrar {
	opacity: 0;
	transition: all 1s;
}

@keyframes preloader {
	90% {
		width: 100%;
		opacity: 1;
	}
	100% {
		width: 100%;
		opacity: 0;
	}
}



  .freguesiascontainer{
  width: 80%;
    /* height: 75%; */
    display: flex
;
  
    z-index: 998;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: center;
    
  }

  .filterDiv img{
    width:100%;
    height: 100%;
    align-content: center;
    padding: 0%;
    border: 0px solid rgb(255, 255, 255);
    cursor: pointer;
  
  }

  .filterDiv:hover img{
    border-radius: 10px;
  
  }

 
  .imagensprojeto{
    max-width: 50%;
    max-height:100%;

    align-content: center;
    padding: 0%;
    border: 0px solid rgb(255, 255, 255);
    cursor: pointer;

  }

  .imagensprojeto2{
    max-width: 30%;


    align-content: center;
    padding: 0%;
    border: 0px solid rgb(255, 255, 255);
    cursor: pointer;

  }
  
  
  .imagensprojeto img{
  border: 1px solid white;
  line-height: none;
  }

  .imagensprojeto2 img{
    border: 1px solid white;
    line-height: none;
    }
  


  .tagscontainer{

    margin-top: 2vw;
    cursor: pointer;
    display: inline;
    list-style: square;
    text-decoration: none;
    transition: text-decoration 0.25s;
  }

  .filterDiv ul {
    padding-inline-start: 0;
  }
  
  .filterDiv ul li {
    cursor: pointer;
    display: inline;
    list-style: none;
  
    transition: text-decoration 0.25s;
  }
  
 
  .container {
    display: block;
    margin-top: 20vh;
    margin-left: 30%;
    margin-right: auto;
    padding: 0vw 8vw 2vw 0vw;
    width: 60%;
    height: auto;
    overflow: visible;
    float: left;
    

  }

  
  /* Style the buttons */
  .tagbtn {
    color: rgb(192, 192, 192);
    border: none;
    outline: none;
    padding: 1% 1%;
    background-color: #f1f1f100;
    cursor: pointer;
    line-height: 100%;
    font-weight: 300;
    font-size: 0.6vw;
    text-decoration: none;
    text-align: left;
    
  }
  
  .tagbtn:hover {
    color: rgb(255, 255, 255);
   border: 1px solid white;
   border-radius: 10px;
  
    
  }
  

  .tagbtn.active {
 
    background-color: #66666600;
    background-color: #f1f1f100;
   
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #dddddd00;
   
    transition: 1s ease-out;
  }
  
  .btn.active {
 
    background-color: #66666600;
    color: white;
 
  }
  .btn:active {
 
    background-color: #66666600;
    color: white;
   
  }


.ppicontainer{
  margin: 5%;
  margin-right: auto;
  margin-left: auto;
  width: 45%;
  border: 1px solid white;
}

.ppi{
  display: flex;
  align-items: stretch;
  margin-right: auto;
  margin-left: 0%;
  /* height: 10%; */
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.informaçaoobra{
  width: 70%;
  padding-left: 0px;
}


.local{
color: white;

line-height: 100%;
padding-top: 2%;
padding-left: 5%;
padding-bottom: 2%;
}

.freguesiatitle{
  color: white;
font-size: 1.3vw;
line-height: 100%;
padding-top: 2%;

}

.autor{
  color: white;
  font-size: 1vw;
  line-height: 100%;
  padding-left: 5%;
  padding-bottom: 2%;
  padding-top: 6%;
  border-top: 1px solid white;
}
.sub-local{
  color: white;
  font-size: 1vw;
  line-height: 100%;
  padding-bottom: 2%;
  padding-left: 5%;
}

.data{
  color: white;
  font-size: 1vw;
  line-height: 100%;
  padding-bottom: 2%;
  padding-left: 5%;
}

.categoria{
  color: white;
  font-size: 1vw;
  line-height: 100%;
  padding-bottom: 2%;
  padding-left: 5%;
}


.tags{
  color: white;
  font-size: 1vw;
  line-height: 100%;
  padding-bottom: 6%;
  padding-left: 5%;
  padding-right: 2%;
}

.tags ul{
  width: 10%;
  cursor: pointer;
  display: inline;
  list-style: none;
  text-decoration: none;


}

.noiseppi{

    position: relative;
    z-index: 50;
    font-size: 2vw;
    background: url(R1.jpeg);
    animation: changeBg 0.5s infinite;
    height: 2.5vw;
    border: 1px solid white;
    text-decoration: none;
}


@keyframes changeBg{
   50%  {background: url(R.jpeg);}



}
.localizaçao {
  display: block;

}
.localizaçao .textlocalizaçao{
  position: relative;
    color: white;
    font-size: 1vw;
    line-height: 100%;
    padding: 2%;
   
  
  }

.leaflet-container{
  height: 5vw;
}


.highcharts-figure, .highcharts-data-table table {
transition: none !important;
    width: 100%;
    height: 100dvh;
     display: flex;
    border: 1px solid rgba(72, 255, 0, 0);
    justify-content: center;
    align-items: center;
}



#container0, #container3, 
#container6, #container7, #container8, #container9, #container10, #container12,#container13, #container14{

    margin: auto;
    width: auto;
 
    border: 1px solid rgba(255, 0, 0, 0);

}


 @media only screen and (max-width: 768px) {
.freguesiascontainer {
        width: 100%;
        justify-content: center;
    
}
#container0, #container3, #container6, #container7, #container8, #container9, #container10, #container12, #container13, #container14 {
    margin: auto;
    width: auto;
    height: 400px;
}
}

